# ignore json run logs and training logs
**/save/*.json
**/save/training.log
# ignore compiled python
**/*.pyc
**/*.c
**/*.so
# ignore Spyder project
**/.spyproject
**/.DS_Store
# ignore h5 and png
**/*.h5
**/*.png
